
body{
    padding: 0;
    margin: 0;
    cursor: url("assets/cursor.png"), pointer;
}
  
#container{
   background-color:#7A0000;
    background-image: linear-gradient(#b42323 .1em, transparent .1em), 
    linear-gradient(90deg, #9e1313 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 105vh;
}

.card {
    width: 400px;
    height: 270px;
    background-size: cover;
    border-radius: 30px;
    cursor: grab;
    position: absolute;
    cursor: url("assets/claw.png"), pointer;
}

nav{
	width: 100%;
	text-align: right;
	color: #ffffff;
  cursor: url("assets/cursor.png"), pointer;
}

p{
  font-family: "Inter";}

#navimage{
  width: 8%;
    cursor: url("assets/cursor.png"), pointer;
}

.header {
	padding: 10px 16px;
}

#backgrounds{
  width: 60%;
  margin-left: 500px;
  display: block;
  margin-top: -25px;
}

#cvbox{
  display: block;
  margin-left: 3%;
  top: 30%;
  position: absolute;
}

#cvtext{
  position: absolute;
  top: 40%;
  left: 4.5%;
  width: 340px;
  text-align: right;
  font-family: "Inter";
  bottom: 0;
  color: black;
}

#portfolio{
  display: block;
	margin-left: 65%;
	margin-right: auto;
	width:70%;
	margin:auto; 
	text-align:center;
}

#title{
  top: 2%;
  left: 2%;
  position: absolute;
  width: 13%;
}

#artisttext{
  position: absolute;
  width: 53%;
  height: 80%;
  left: 565px;
  top: 24%;
  font-family: "Inter";
  font-size: large;
  line-height: 200%;
}

.portfolioImage{
  margin-top: 10px;
  cursor: url("assets/cursor.png"), pointer;
  text-align: center;
}

.grid{
	width: 60%;
  left: 19%;
  top: 200px;
  position: absolute;
  column-count: 3;
  text-align: center;
}

.row{
  display: block; 
}

#mobileOnly{
  opacity: 0%;
}

#subheading{
  margin-left:3%;
  display: block;
  width: 13%;
}

#performances{
  display:block;
  position: inherit;
  column-count: 4;
  margin: auto;
  background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 7%, #D9D9D9 7%, #D9D9D9 20%, #D9D9D9 93%, #FFFFFF 93% );
  border-radius: 5%;
  padding: 2%;
}

#performanceimg{
  padding: 5%;
  padding-top: 16%;
  padding-bottom: 5%;
  width: 300px;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 0px;
    height: 0px;
  }

  #title{
    top: 0;
    width: 30%;
    cursor: url("assets/cursor.png"), pointer;
    position: absolute;
  }
  .nav{
    width: 30%;
    top: 90%;
  }
  #navimage{
    width:21%;
  }

  .grid{
    width: 70%;
    column-count: 1;
    margin: auto;
    margin-top: -50px;
    margin-left: -20px;
    background-color: #BEBEBE;
    padding: 10px;
    text-align: center;
  }

  #portfolio{
    display: block;
    height: 1000px;
    width: 90%;
    opacity: 0%;
  }

  .portfolioImage{
    padding-bottom: 15px;
    width: 70%;
  }

  #mobileOnly{
    position: absolute;
    opacity: 100%;
    top: 110px;
    margin: auto;
    left: 14.1%;
    width: 76.2%;
  }

  #artisttext{
    margin: auto;
    position: absolute;
    left: 15%;
    top: 17%;
  }
  
  #backgrounds{
    margin: auto;
    height: 40vh;
    width: 80%;
  }

  #performances{
    display:block;
    position: inherit;
    column-count: 1;
    margin: auto;
    background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 1.5%, #D9D9D9 1.5%, #D9D9D9 20%, #D9D9D9 98.5%, #FFFFFF 98.5% );
    border-radius: 1%;
    padding: 8%;
  }

  #performanceimg{
    padding: 2%;
    padding-bottom: 1%;
    width: 100%;
    margin-left: -2%;
  }

  #subheading{
    margin-left:3%;
    display: block;
    width: 25%;
  }

}