
body{
    padding: 0;
    margin: 0;
    cursor: url("assets/cursor.png"), pointer;
}
  
#container{
   background-color:#7A0000;
    background-image: linear-gradient(#b42323 .1em, transparent .1em), 
    linear-gradient(90deg, #9e1313 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 105vh;
}

.card {
    width: 400px;
    height: 270px;
    background-size: cover;
    border-radius: 30px;
    cursor: grab;
    position: absolute;
    cursor: url("assets/claw.png"), pointer;
}

nav{
	width: 100%;
	text-align: right;
	color: #ffffff;
  cursor: url("assets/cursor.png"), pointer;
}

p{
  font-family: "Inter";}

#navimage{
  width: 8%;
    cursor: url("assets/cursor.png"), pointer;
}

.header {
	padding: 10px 16px;
}

#backgrounds{
  width: 60%;
  margin-left: 500px;
  display: block;
  margin-top: -25px;
}

.aboutimg {
  width: 60%;
  margin-left: 500px;
  display: block;
  margin-top: -25px;
  }

#cvbox{
  display: block;
  margin-left: 3%;
  top: 30%;
  position: absolute;
}

#cvtext{
  position: absolute;
  top: 30%;
  padding: 2%;
  padding-top: 5%;
  left: 4.5%;
  width: 16%;
  text-align: left;
  font-family: "Inter";
  bottom: 0;
  color: black;
  background-image: url(assets/backgrounds/box.png);
  background-repeat: round;
}

#portfolio{
  display: block;
	margin-left: 65%;
	margin-right: auto;
	width:70%;
	margin:auto; 
	text-align:center;
}

#title{
  top: 2%;
  left: 2%;
  position: absolute;
  width: 13%;
}

#artisttext{
  position: absolute;
  width: 53%;
  height: 50%;
  left: 575px;
  top: 15%;
  padding-top: 5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  font-family: "Inter";
  font-size: large;
  line-height: 250%;
  background-image: url(assets/backgrounds/textbox.png);
  background-repeat:round;
}

#text{
  position: absolute;
  width: 53%;
  height: 50%;
  left: 575px;
  top: 15%;
  padding-top: 5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  font-family: "Inter";
  font-size: large;
  line-height: 250%;
}

#ytvid{
  position: absolute;
  display: block;
  left: 60%;
  top: 63%;
  width: 35%;
  height: 45%;
  object-fit: contain;
}

.portfolioImage{
  margin-top: 40px;
  cursor: url("assets/cursor.png"), pointer;
  text-align: center;
}

.grid{
	width: 60%;
  left: 19%;
  top: 200px;
  position: absolute;
  column-count: 3;
  text-align: center;
}

.row{
  display: block; 
}

#mobileOnly{
  opacity: 0%;
}

#subheading{
  margin-left:3%;
  display: block;
  width: 13%;
}

#performances{
  display:block;
  position: inherit;
  column-count: 4;
  margin: auto;
  background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 7%, #D9D9D9 7%, #D9D9D9 20%, #D9D9D9 93%, #FFFFFF 93% );
  border-radius: 30px;
  padding: 2%;
}

#performanceimg{
  padding: 5%;
  padding-top: 16%;
  padding-bottom: 5%;
  width: 300px;
}#performanceimg:active,
#performanceimg:focus{
    width: 600px;
    position: fixed;
    top:  40%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.7);
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 20%;
    padding-top: 30%;
    object-fit: contain;
    margin: auto;
}

#ellipse{
  padding-left: 20%;
  position: absolute;
  padding-top: 2%;
  width: 2%;
  display: flex;
}

#long{
  width: 40vh;
  height: 25vw; 
  object-fit: contain;
  top: 25vh;
  left: 10vw;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 0px;
    height: 0px;
  }

  #long{
    width: 80%;
    height: 60%; 
    object-fit: fill;
    top: 13%;
    left: 3%;
  }

  #title{
    top: 0;
    width: 30%;
    cursor: url("assets/cursor.png"), pointer;
    position: absolute;
  }
  .nav{
    width: 30%;
    top: 90%;
  }
  #navimage{
    width:21%;
  }

  #ellipse{
    padding-left: 9.5%;
    position: absolute;
    padding-top: 0.8%;
  }


  #portfolio{
    display: block;
    height: 1000px;
    width: 90%;
    opacity: 0%;
  }

  .portfolioImage{
    padding-bottom: 15px;
    width: 70%;
    padding-top: 10px;
    
  }

  #mobileOnly{
    position: absolute;
    opacity: 100%;
    top: 110px;
    margin: auto;
    left: 14.1%;
    width: 76.2%;
  }

  #artisttext{
    margin: auto;
    left: 1%;
    top: 13%;
    width: 90%;
    height: 70%;
    background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 5%, #D9D9D9 5%, #D9D9D9 20%, #D9D9D9 95%, #FFFFFF 95% );
    padding: 2%;
    padding-top: 9%;
    border-radius: 30px;
    line-height: 180%;
    object-fit: contain;
  }

  #text{
    margin: auto;
    left: 3%;
    top: 13%;
    width: 90%;
  }

  #backgrounds{
    margin: auto;
    height: 40vh;
    width: 80%;
  }

  .grid{
    width: 70%;
    column-count: 1;
    margin: auto;
    margin-top: -50px;
    margin-left: -20px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 2%, #D9D9D9 2%, #D9D9D9 20%, #D9D9D9 98%, #FFFFFF 98% );
    border-radius: 30px;
  }

  #performances{
    display:block;
    position: inherit;
    column-count: 1;
    margin: auto;
    background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 1.5%, #D9D9D9 1.5%, #D9D9D9 20%, #D9D9D9 98.5%, #FFFFFF 98.5% );
    border-radius: 20px;
    padding: 8%;
  }

  #performanceimg{
    padding: 2%;
    padding-bottom: 1%;
    width: 100%;
    margin-left: -2%;
    position: inherit;
  }#performanceimg:active,
#performanceimg:focus{
    position:inherit;
    padding: 2%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    display: flex;
    z-index: -1;
    transform: translate(-2%, 0%);
}

  #subheading{
    margin-left:3%;
    display: block;
    width: 25%;
  }

  #ytvid{
    position: inherit;
    display: block;
    padding: 5%;
    margin-left: 1%;
    width: 90%;
    height: 30vh;
    object-fit: contain;
  }

  #cvbox{
    display: block;
    margin-left: 3%;
    top: 40%;
    position: inherit;
  }

  #cvtext{
    position: relative;
    left: 6%;
    text-align: right;
    font-family: "Inter";
    color: black;
    width: 85%;
    height: 40%;
    top:46%;
    background-image: linear-gradient(#FFFFFF 0%, #FFFFFF 5%, #D9D9D9 5%, #D9D9D9 20%, #D9D9D9 95%, #FFFFFF 95% );
    padding: 2%;
    padding-top: 0.5%;
    border-radius: 30px;
    line-height: 180%;
    padding-right:4%;
    object-fit: contain;
  }

  .aboutimg {
    margin: auto;
    height: 70vh;
    width: 90%;
  }
}