body{
    padding: 0;
    margin: 0;
}
  
#container{
    background-color:#7A0000;
    background-image: linear-gradient(#9e1313 .1em, transparent .1em), 
    linear-gradient(90deg, #9e1313 .1em, transparent .1em);
    background-size: 4em 4em;
    height: 100vh;
}

:root{
    --random-height: 50; 
}

.card {
    width: 400px;
    height: 270px;
    background-size: cover;
    border-radius: 5px;
    cursor: grab;
    position: absolute;
}

nav{
	width: 100%;
	text-align: right;
	color: #ffffff;
  font-family: Rubik Broken Fax;
}

.header {
	padding: 10px 16px;
	z-index:100;
	font-size: xx-large;
}

/* Page content */
.content {
	padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position:sticky;
	top: 0;
	width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 102px;
}

#backgrounds{
  width: 70%;
  height: 80%;
  left: 400px;
  top: 100px;
}

#title{
  top: 0;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 0px;
    height: 0px;
  }

  #title{
    top: 0;
    width: 40%;
    position: absolute;
  }

  .nav{
    width: 30%;
  }


}